<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Update User</title>
</head>
<body>
<h1>Add/Update User</h1>
<form th:action="@{/addOrUpdate}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" required />
    <label for="surname">Surname:</label>
    <input type="text" th:field="*{surname}" id="surname" required />
    <label for="old">Age:</label>
    <input type="number" th:field="*{old}" id="old" required />
    <button type="submit">Submit</button>
</form>
<a th:href="@{/}">Back to User List</a>
</body>
</html>
